
/**
 * @author Nicolaas [at] sunnysideup.co.nz
 *
 *
 */
ul#SiteMap{}
a.siteMapPageExpander{background-image: url(../images/plusMinus.gif); background-repeat: no-repeat; width: 16px; height: 16px;display: block; float: left; text-indent: -2000px; }
a.SiteMapNodeExpanded{background-position: 0 0;}
a.SiteMapNodeImploded{background-position: 0 16px;}

