#shareThisUL{
	list-style :none;
}

#shareThisUL li{
	float: right;
	width: auto;

}
#shareThisUL li a {
	padding: 0.1em;
	opacity:0.33;
	filter:alpha(opacity=33);

}
#shareThisUL li a:hover{
	opacity:1;
	filter:alpha(opacity=100)
}
#shareThisUL li a:hover img{
	margin-top: -1px;
	border-bottom: 1px solid #333;
}
#shareThisUL li img{
	padding-right : 3px;
}