#RegionShippingModifier_Form_ModifierForm .Actions {display: none}
.loading {background-image: url(../images/loading.gif); background-repeat: no-repeat; background-position: 95% 0;}
#action_useDifferentShippingAddress {display: none;}