/**
  * IMPORTANT NOTE:
  * The default e-commerce css only includes the basics and it is recommended that you theme these files.
  * Also make sure you have the site's general layout and typography styled before you do this.
  **/

.hideOnZeroItems {display: none;}
.hideForNow{display: none;}

.show{display: block;}
.hide{display: none!important;}




/*
even when theme-ing ecommerce, these should not be themed
*/


.ajaxQuantityField {text-align: center;}
.ecomquantityfield {position: relative;}
.ecomquantityfield img{margin: 0!important; padding: 0!important; }
.ecomquantityfield a{position: absolute; display: none; top: 0px}
.ecomquantityfield:hover a{display: block;}
.ecomquantityfield a.removeOneLink {left: 0px; }
.ecomquantityfield a.addOneLink {right: 0px; }


.removeOneLink {float: left; padding-right: 5px;}

.itemdetails span {width: 100px;}

ul.productActions {margin: 0px; padding: 0px;}
ul.productActions li {display: block; margin: 10px; list-style: none; padding: 0px; margin: 10px 0; line-height: 0.8;}
ul.productActions li a, .goToCart a, a.selectVariation {
	margin-top: 5px;
	margin-bottom: 5px;
	text-decoration: none!important;
	padding-right: 20px;
	display: inline-block;
	padding: 7px;
}

.notInCart .addLink {display: inline-block!important;}
.notInCart .removeLink {display: none!important;}
.notInCart .goToCheckoutLink {display: none!important;}

.inCart .addLink {display: none!important;}
.inCart .removeLink {display: inline-block!important;}
.inCart .goToCheckoutLink {display: inline-block!important;}

#Sidebar .goToCart a {
	font-size: 11px;
}

ul.productActions li a:hover, .goToCart a:hover {
	color: #317010;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	border: 1px solid #808383;

}

.summary {font-weight: bold;}

.ecomquantityfield {white-space: nowrap;}

.tableSubTitle li {list-style: none; font-size: 0.8em!important;}

.cartMessage span {background-color: transparent!important}


.loading { background-image: url(/ecommerce/images/loading.gif)!important; background-repeat: no-repeat!important; background-position: 95% 0!important; }
