/**
  * IMPORTANT NOTE:
  * The default e-commerce css only includes the basics and it is recommended that you theme these files.
  * Also make sure you have the site's general layout and typography styled before you do this.
  **/

.hideOnZeroItems {display: none;}
.hideForNow{display: none;}


/*
even when theme-ing ecommerce, these should not be themed
*/


.ajaxQuantityField {text-align: center;}
.removeOneLink {float: left; padding-right: 5px;}


#Sidebar {position: fixed; top: 10px; right: 10px; width: 200px; padding:12px; border: 1px dotted grey; background-color: #B5AB8B; border-radius: 5px; font-size: 77%; }
#Sidebar table {width: 100%;}
#Sidebar th, #Sidebar td {font-size: 11px; padding: 2px;}
#Sidebar td.quantity .ecomquantityfield {white-space: nowrap;}
#Sidebar td.quantity img {margin: 0px;}
#Sidebar ul{margin-left: 0px; padding-left: 0px; list-style: none;}
#Sidebar ul li{margin-left: 0px; padding-left: 0px; list-style-position: inside;}
.itemdetails span {width: 100px;}

ul.productActions {margin: 0px; padding: 0px;}
ul.productActions li {display: block; margin: 10px; list-style: none; padding: 0px; margin: 10px 0;}
ul.productActions li a, .goToCart a {
	display: -moz-inline-stack;
	display: inline-block;
	width: auto;
	height: auto;
	background-color: #82274B;
	line-height: 43px;
	vertical-align: text-bottom;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	border-radius: 7px;
	text-decoration: none!important;
	padding:  0 10px;
}

ul.productActions li a:hover, .goToCart a:hover {background-color: #317010;}
