/**
  * IMPORTANT NOTE:
  * The default e-commerce css only includes the basics and it is recommended that you theme these files.
  * Also make sure you have the site's general layout and typography styled before you do this.
  **/


.loadingCartData  #Table_Order_Total, .loadingCartData #Amount {
	color: #e7e7e7!important;
	background-image: url(/themes/main_ecommerce/images/loading.gif);
	background-position: top right;
	background-repeat: no-repeat;
}

#MethodFields_PayPalPayment {margin-left: 270px}
#MethodFields_PayPalPayment img {display: inline-block; float: none; margin-left: 0px; margin-right: 10px}

.checkoutStepPrevNextHolder { position: relative; height: 87px; padding-bottom: 20px; padding-top: 20px; }
.checkoutStepPrevNextHolder a {width: 87px; height: 87px; display: block;text-indent: -2000px;}
.next a {position: absolute; right: 0px;}
.prev a {position: absolute; left: 0px;}
.next a {background-image: url(/themes/main_ecommerce/images/next.png);}
.prev a{background-image: url(/themes/main_ecommerce/images/previous.png);}
	.next a:hover, 	.prev a:hover {background-position: 0 -87px; border-bottom: none!important;}


#InformationTable {width: 100%!important;}

#CartPageMessage  {margin-top: 20px; margin-bottom: 20px; }
#CartPageMessage p {font-size: 12px!important; padding: 0px; padding-left: 10px;}

#Checkout ul.steps {
padding: 10px; margin: 10px 0;
	background-color: #f7f7f7;
	background-image: -webkit-gradient(linear, 0% 10%, 0% 100%, from(#fafafa), to(#f0f0f0));
	background-image: -moz-linear-gradient(center bottom , #f0f0f0 10%, #fafafa 100%);
	background-position:0px center;
	background-repeat:no-repeat;
	border-top:       10px solid #808383;
-moz-border-radius-topleft: 5px; border-top-left-radius: 5px;
}
#Checkout ul.steps li {background-image: none; padding: 0px; margin: 0; width: auto; padding-right: 20px; font-size: 10px; display: inline-block;}
#Checkout ul.steps li.current {color: #317010;}

.selectorderaddress ul {border-top: 1px solid #BFC1C1; width: 376px;}
.noLongerInUse {display: block; float: right;}
