.typography form{padding: 1em 0; clear:right;}
	.typography fieldset{}
		.typography div.field {}

	.typography label {font-size: 1.2em;}
	.typography li label, .typography p label {font-size: 0.8em;}
		.typography label.FormHeading{display: block; font-size: 1.2em; color: #808383; font-weight: bold; margin-bottom: 1em;}
		.typography label.left{float: left; display: block; font-size: 1.2em; width: 270px; }
			.typography .dropdown label.left{padding-bottom: 3px;}
			.typography .optionset label.left, .typography .checkboxset label.left{border: 0;}

	.typography .field{width: 100%; padding-bottom: 0.8em;padding-top: 0.8em;}
		.typography .middleColumn, .typography .Actions, .typography p.ForgotPassword, .typography p.checkbox {display: block; margin-left: 270px;}
			.typography .middleColumn input, .typography .middleColumn textarea, .typography .middleColumn select{border: 1px solid #B5AB8B; width: 220px; padding: 3px; font-family: Arial, Verdana, sans-serif;}
			.typography .middleColumn textarea{}
			.typography .middleColumn ul{margin-left: 0!important; padding-left: 0!important;}
			.typography .middleColumn li{list-style: none!important;}
				.typography .middleColumn input:hover, .typography .middleColumn textarea:hover, .typography .middleColumn select:hover{border: 1px solid #317010;}
				.typography .middleColumn input:focus, .typography .middleColumn textarea:focus, .typography .middleColumn select:focus{border: 1px solid #82274B;}

		.typography .middleColumn .radio, .typography .middleColumn .checkbox,
		.typography .middleColumn .radio:hover, .typography .middleColumn .checkbox:hover,
		.typography .middleColumn .radio:focus, .typography .middleColumn .checkbox:focus{border: 0;}

		.typography .Actions{}
			.typography .Actions input {background-color: #808383; color: #fff; padding: 0.3em; font-weight: bold;}
				.typography .Actions input:hover {background-color: #82274B; color: #FFCC33; border: 3px solid #317010; }

		.typography .message{font-weight: bold; color: #82274B; background-color: #FFCC33; display: block;padding: 5px; text-align: center;}
		.typography .middleColumn .message{width: 218px; }

	.typography .radio, .typography .checkbox{width: auto!important;}

/* exceptions */
	.typography .confirmedpassword .middleColumn {margin-left: 0px;}
	.typography .confirmedpassword .middleColumn .middleColumn {margin-left: 120px;}

	.typography label.required {display: block; color: #82274B; font-size: 0.8em;}

.typography .fieldgroup .middleColumn {margin-left: 0px;}
