.typography form{padding: 1em 0; clear:right;}
	.typography fieldset{}
		.typography div.field {}

	.typography label {}
	.typography li label, .typography p label {font-size: 0.8em;}
		.typography label.FormHeading{display: block; color: #808383; font-weight: bold; margin-bottom: 1em;}
		.typography label.left{float: left; display: block; width: 270px; border-bottom: 1px solid #B5AB8B;}
			.typography .dropdown label.left{padding-bottom: 3px;}
			.typography .optionset label.left, .typography .checkboxset label.left{border: 0;}

	.typography .field{width: 100%; padding-bottom: 0.8em;padding-top: 0.8em;}
		.typography .middleColumn, .typography .Actions, .typography p.ForgotPassword, .typography p.checkbox {display: block; margin-left: 270px;}
			.typography .middleColumn input, .typography .middleColumn textarea, .typography .middleColumn select{border: 1px solid #B5AB8B; width: 370px; padding: 3px; font-family: Arial, Verdana, sans-serif;}
			.typography .middleColumn textarea{}
			.typography .middleColumn ul{margin-left: 0!important; padding-left: 0!important; margin-top: 0px; padding-top: 0px;}
			.typography .middleColumn li{list-style: none!important; margin-top: 0px; padding-top: 0px;}
				.typography .middleColumn input:hover, .typography .middleColumn textarea:hover, .typography .middleColumn select:hover{border: 1px solid #317010;}
				.typography .middleColumn input:focus, .typography .middleColumn textarea:focus, .typography .middleColumn select:focus{border: 1px solid #82274B;}

		.typography .middleColumn .radio, .typography .middleColumn .checkbox,
		.typography .middleColumn .radio:hover, .typography .middleColumn .checkbox:hover,
		.typography .middleColumn .radio:focus, .typography .middleColumn .checkbox:focus{border: 0;}

		.typography .Actions{}

		.typography .message{font-weight: bold; color: #317010; background-color: #FFCC33; display: block;padding: 2px 4px 7px 4px; text-align: center; border-bottom: 1px solid ##BFC1C1; }
		.typography .middleColumn .message{width: 368px; }

.typography label.required {display: block; color: #82274B; font-size: 0.8em;}

/* exceptions */
.typography .radio, .typography .checkbox{width: auto!important;}
.typography .checkbox  label.right {display: block; margin-left: 0px; width: 350px; font-size: 1em; text-align: left;}
.typography .checkbox  input {float: left;}

.typography .confirmedpassword .middleColumn {margin-left: 0px;}
.typography .confirmedpassword .middleColumn .middleColumn {margin-left: 120px;}

.typography .fieldgroup .middleColumn {margin-left: 0px;}

.typography .field span.message {margin-left: 270px; width: 370px; font-size: 0.8em}
.typography .field .middleColumn .message {margin-left: 0px; width: 370px; }
.typography span.bad, .typography span.required {color: red;}

.typography label.right {display: block; margin-left: 270px; width: 370px; font-size: 0.8em}

/* BUTTON */
.typography .Actions input {
	display: -moz-inline-stack;
	display: inline-block;
	width: 177px;
	height: 39px;
	background: url("http://dabuttonfactory.com/b?t=AAABBBB&f=sans-serif-Bold&ts=24&tc=ffffff00&tshs=1&tshc=22222200&it=png&c=round&bgt=gradient&bgc=82274b&ebgc=bfc1c1&hp=27&vp=11") no-repeat;
	line-height: 39px;
	vertical-align: text-middle;
	text-align: center;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	/*text-shadow: #222222 1px 1px 0; */
	border: none!important;
}
.typography .Actions input:hover{
	background: url("http://dabuttonfactory.com/b?t=AAABBBB&f=sans-serif-Bold&ts=24&tc=ffffff00&tshs=1&tshc=22222200&it=png&c=round&bgt=gradient&bgc=bfc1c1&ebgc=82274b&hp=27&vp=11") no-repeat;
}

.typography .Actions input > span {
	display: -moz-inline-block;
	background: url("http://dabuttonfactory.com/b?t=AAABBBB&f=sans-serif-Bold&ts=24&tc=ffffff00&tshs=1&tshc=22222200&it=png&c=round&bgt=gradient&bgc=bfc1c1&ebgc=82274b&hp=27&vp=11") no-repeat;
}

