#HiddenTextItems {display: block; font-size: 0px; text-indent: -9999px; line-height: 0;}

html{font-size: 100%;}
body {
	font-family: Trebuchet MS,Tahoma,Arial,Verdana,helvetica,Sans-Serif;
	height: 100%;
	font-size: 62.5%;
	background-image: url(../images/logo.gif);  background-position: 0 0; background-repeat: repeat-y; background-color: #fff;
}
#Layout {
	padding: 67px 270px 0px 210px;
}
	#SidebarSection {
		width: 200px; float: right; padding: 67px 20px 0 0;
	}

	#shareThisUL {
		position: absolute;
		right: 12px;
		top: 12px;
	}

.clear {clear: both;}