/* global fixes */
#HiddenTextItems {display: block; font-size: 0px; text-indent: -9999px; line-height: 0;}
.clear {clear: both;}

body {
	font-family: Trebuchet MS,Tahoma,Arial,Verdana,helvetica,Sans-Serif;
	height: 100%;
	background-image: url(../images/logo.gif);  background-position: 0 0; background-repeat: repeat-y; background-color: #fff;
}
#Wrapper{}
	#Container{}
		#Nav {} /* see MENU.CSS spreadsheet */
		#SidebarSection {width: 200px; float: right; padding: 67px 20px 0 0;}
		#Layout {padding: 67px 270px 500px 210px;}
	#shareThisUL {position: absolute;right: 12px;top: 12px;}

