/* global fixes */
#HiddenTextItems {display: block; font-size: 0px; text-indent: -9999px; line-height: 0;}
.clear {clear: both;}

body {
	font-family: 'Quattrocento Sans', sans-serif;
	height: 100%;
	background-position: 0 0; background-repeat: repeat-y; background-color: #fff;
	background-image: url("/themes/main/images/logo.gif");
}
#Wrapper{}
	#Container{}
		#Nav {} /* see MENU.CSS spreadsheet */
		#Breadcrumbs {text-align: right; padding: 7px; position: absolute; top: 0; font-size: 12px; }
		#SidebarSection {width: 200px; float: right; padding: 67px 20px 0 0;}
		#Layout {padding: 67px 270px 50px 210px; max-width: 770px;}
	#shareThisUL {position: absolute;right: 12px;top: 12px;}


#Sidebar {position: absolute; top: 10px; right: 10px; width: 200px; padding:12px; font-size: 77%;
	background-color: #f7f7f7;
	background-image: -webkit-gradient(linear, 0% 10%, 0% 100%, from(#fafafa), to(#f0f0f0));
	background-image: -moz-linear-gradient(center bottom , #f0f0f0 10%, #fafafa 100%);
	background-position:10px center;
	background-repeat:no-repeat;
	border:           1px solid #fff;
	border-radius:    10px;
	-moz-border-radius:10px;
	-moz-box-shadow:   0px 1px 2px rgba(97,108,125,0.4), inset 0 1px 1px rgba(255,255,255,0.8);
	-webkit-box-shadow:0px 1px 2px rgba(97,108,125,0.4), inset 0 1px 1px rgba(255,255,255,0.8);
}
#Sidebar table {width: 100%;}
#Sidebar th, #Sidebar td {font-size: 11px; padding: 2px;}
#Sidebar td.quantity img {margin: 0px;}
#Sidebar ul{margin-left: 0px; padding-left: 0px; list-style: none;}
#Sidebar ul li{margin-left: 0px; padding-left: 0px; list-style-position: inside; list-style-image: none;}
#Sidebar ul li.current a{color: #317010 !important;}
#Sidebar th, #Sidebar td {background-color: transparent; border: none;}

#Footer {clear: both; padding-top: 300px; }
.backToTop {font-size: 0.75em; float: right; padding-bottom: 10px; }
.backToTop a{ text-decoration: none!important;}
#CopyrightMessage {border-top: 1px solid #d6dbdb;font-size: 0.75em; clear: right}


