#menu li {
 display: block; padding: 0.27em 1em 0.27em 1em; float: right; margin: 0px;
 list-style: none;
}
#menu li a:link, #menu li a:visited {color: #fff;}
#menu li a:hover,#menu li a.ms:link,#menu li a.ms:visited  {color: #FFCC33;}
