/**
*@author nicolaas[at]sunnysideup . co . nz
*
**/

.StockObjectsFeedback{}
#StockProductObjects{margin: 0; padding: 0;}
	#StockProductObjects li {list-style: none; border-bottom: 1px dotted grey; margin: 0; padding: 0.3em; background-image: none;}
		#StockProductObjects label {}
			#StockProductObjects label.history {width: 300px; display: block; float: left;}
			#StockProductObjects input.updateField{width: 1.5em; float: left; margin-left: 325px}
			#StockProductObjects span.right {width: 100px; margin-left: 355px; font-size: 0.8em;}
		#StockProductObjects div.loadHistoryHere{}
#StockVariationObjects{}