.webPortfolioItemOuter span{font-size: 0.77em; line-height: 1.4; font-family: 'Pontano Sans',sans-serif !important;}
.webPortfolioItemOuter span a{color: #808383!important; }
.webPortfolioItemOuter img{margin-left: 10px;}
